@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    /* background-color: black; */
    background: url('./imgs/bg-2.jpg')no-repeat center center/cover;
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    /* overflow: auto; */

}

header{
    position: relative;
    width: 80%;
    height: 90%;
    /* border: 1px solid white; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px -1px black ;
    /* overflow: auto; */
    background: url('./imgs/bg-2.jpg')no-repeat center center/cover;
    opacity: .9;
    z-index: -1;
}

header::-webkit-scrollbar{
    width: 5px;
    background: rgb(255,255,255,.3);
    border-radius: 5px;
    visibility: hidden ;

}

 header::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(255,255,255,.3);
    border-radius: 5px;
    visibility: hidden ;

} 

header::before{
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
 
 }

header .image{
    border-radius: 30px;
}

header .trailer{
    top:200px;
    width:200px;
    height:25px;
    border-radius: 20px;
    background: rgba(74, 70, 70);
    border: 0;

}

a{
    color:white;
    text-decoration: none;
}

.rating{
    background-color:rgb(7, 83, 7);
    width: 80px;
    padding-left: 4px;
}