@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.body {
    width: 100%;
    height: 100vh;
    background-color:black; 
    font-family: 'Playfair Display', serif;
    align-items: center; 
    justify-content: center; 
    color: white;
    overflow: hidden;

}

header {
    position: relative;
    width: 80%;
    height: 80%;
    /* border:1px solid white; */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 25px -2px #7bb314;
    overflow: auto;
    background-color: rgb(40, 38, 38);

}

header::-webkit-scrollbar{
    width: 5px;
    background: rgb(255,255,255,.3);
    border-radius: 5px;
    visibility: hidden ;

}

header::-webkit-scrollbar-thumb{
    width: 5px;
    background: rgb(255,255,255,.3);
    border-radius: 5px;
    visibility: hidden ;

}

header::before{
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
   
}

header::after{
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    background: linear-gradient(180deg, transparent, black);
}

nav{
    width: 100%;
    height: 20%;
    /* border: 1px solid white;  */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.flixzet .flix{
    color:white
}

.flixzet .zet{
    color:#7bb314;
   
}

nav .input_search input{
    position: relative;
    border-radius: 20px;
    border: none;
    outline: none;
    width: 180px;
    background: rgb(255,255,255,.3);
    color: black;
    margin-right: 10px;
}

nav .input_search input::placeholder{
    color:black;
    
}

nav .input_search img{
    width:20px;
    height:20px;
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
    
}

header  .row .card{
    background-color: #2b3c0c;
    color:white;
    border-radius: 10px;
}

header  .row .card .img{
    border-radius: 20px;
}

header  .row .card .img:hover{
  filter:contrast();
}

header .row button {
    opacity: 0;
    position: absolute;
    width: 100px;
    height: 40px;
    top: 150px;
    background: rgba(8, 30, 7, 0.3);
    left: calc(50% - 50px);
    color:#fff;
    transition: opacity 0.7s;
    border-radius: 10px;
}

.card:hover button {
    opacity: 1;
    transition: opacity .3s;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    left: 1px;
    border-radius: 50px;
}

.body.active{
    background-color: white;
    color:black;
}

header.active{
    background-color: rgb(95, 94, 94);
}

.flix.active{
    color:black;
}

.input_search input.active{
    color:black;
    background: gray;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform:translateX(20px);
}

